/* On/Off Switch */
.switch {
	width: 30px;
	height: 17px;
	margin: 1.5px;
}

.slider:before {
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Dropdown Menu */
.dropdown-text {
	display: inline;
}

/* Line */
hr { 
	width: 98%;
	height: 1px;
	border: 0 none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6px;
	margin-bottom: 5px;
	background-color: #d9d9d9;
}

/* Cogwheel Button */
.centered-container { /*create an outer box containing the line and the button to make it easier to center at the bottom of popup */
	height: 25px; 
	width: 180px; /*equals to the popup's width*/
	position: relative;
}

.settings-button {
	margin: 4px; 
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
	width: 180px;
}

settings-button:hover {
	cursor: pointer;
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}