.popup {
    height: auto;
    width: 75px;
    font-size: 15px;
    margin: 0px 0px;
}

#xchangeBox {
	display: none;
	background-color: #555;
	color: #fff;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 10000;
	/* for the tooltip box */
	width: 120px;
	bottom: 100%;
	height: 50px;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* for the arrow */
#xchangeBox::after { 
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}