#xchangeBox {
	display: none;
	background-color: #555;
	color: #fff;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 10000;
	/* for the tooltip box */
	margin-left: -40px;
}

/* for the arrow */
#xchangeBox::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}

#optionsBody {
	/*background-color: #5AF;*/
}

#options {
	font-size: 18px;
	background-color: white;
  border: 3px solid #5AF;
	padding: 5px 15px 15px 15px;
}

/* On/Off Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-text {
  display: inline;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Text inputs */
.input-note {
	display: inline;
	font-style: italic;
	font-size: 15px;
	color: DarkGrey;
}

#inputBaseCurrency {
  margin-left: 35px;
	line-height: 25px;
	padding-left: 10px;
	width: 40px;
}

#inputDisplayCurrency {
	line-height: 25px;
	padding-left: 10px;
}

/* Radio buttons */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 20px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*  Selector */
.singleCurrencySelector {
  width: 50px;
}

.multiCurrencySelector {
  width: 240px;
}

/*
  ###### Popup ######
*/
#popup {
  height: auto;
  width: 180px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* On/Off Switch */
#popup .switch {
	width: 30px;
	height: 17px;
	margin: 1.5px;
}

#popup .slider:before {
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
}

#popup input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Dropdown Menu */
.dropdown-text {
	display: inline;
}

/* Line */
hr {
	width: 98%;
	height: 1px;
	border: 0 none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6px;
	margin-bottom: 5px;
	background-color: #d9d9d9;
}

/* Cogwheel Button */
.centered-container { /*create an outer box containing the line and the button to make it easier to center at the bottom of popup */
	height: 25px;
	width: 180px; /*equals to the popup's width*/
	position: relative;
}

.settings-button {
	margin: 4px;
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
	width: 180px;
}

settings-button:hover {
	cursor: pointer;
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}
